*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-Color: rgb(188, 188, 255);
    --background-Color-Dark: rgb(140, 140, 255);
}
    #container{
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    padding: 4rem
}

.game{
    display: grid;
    grid-template-columns: repeat( 3, 10vw );
    grid-template-rows: repeat( 3, 10vw);
}

.box{
    border: 1px solid gray;
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game_name{
    font-size: 2.5rem;
    padding: 1rem;
}

#turn{
    font-size: 2rem;
    padding: 1rem;

}
#reset{
    font-size: 1.4rem;
    padding: 0.4rem 1rem
}

#wins{
    font-size: 2rem;
    padding: 1rem;
}
#gameinfo{
    /* border: 1px solid black; */
    width: 35vw;
}

.navbar{
    background-color: "--background-Color";
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    font: 1rem;

}

.heading{
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 1.5rem;
    background-color: var(--background-Color);
    text-align: center;
    padding: 1rem;
}
#about__container{
    background-color: var(--background-Color-Dark);
    margin-top: 2rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

#about__container div{

    font-size: 1.3rem;
    padding: 0.7rem;
    width: fit-content;
}


.socialmedia{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;


}

.socialmedia >div:nth-of-type(1){
    text-align: center;
    border: 1px solid lightgray;
    padding: 0.5rem;
}
.socialmedia >div:nth-of-type(2){
    text-align: center;
    border: 1px solid lightgray;
    padding: 0.5rem;

}
.socialmedia >div:nth-of-type(3){
    text-align: center;
    border: 1px solid lightgray;
    padding: 0.5rem;

}